{{ define "card.tmpl" }}

<div class="card">

  <div class="imgBox">
    <img src="image/{{ .ImagePath }}" alt="Услуга" class="image-v">
  </div>

  
  <div class="contentBox">
  

  <h3>Прогноз {{ .DataTypeName }}</h3>
  <h3>(в {{ .Unit }})</h3>
  <h2 class="price">Точность ±{{ .Precision }} {{ .Unit }}</h2>
  <a href="/more/{{ .DataTypeId }}" class="buy">Подробнее</a>
  {{if eq .DataTypeStatus "valid"}}
  <form action="/" method="post">
    <input type="hidden" name="delete" value="{{ .DataTypeId }}">
    <button type="submit" class="buy">Удалить</button>
    <!--<a href="/more/{{ .DataTypeId }}" class="buy">Удалить</a>-->
  </form>
  {{else}}
  <a class="status">УДАЛЕНО</a>
  {{end}}
  <!--</div>-->
  
  <!-- -->

  <!--<div class="contentBox">
    <h3>Прогноз {{ .DataTypeName }}</h3>
    <h3>(в {{ .Unit }})</h3>
    <h2 class="price">Точность {{ .Precision }} {{ .Unit }}</h2>
    <a href="/more/{{ .DataTypeId }}" class="buy">Подробнее</a>-->
  </div>

</div>

{{ end }}