{{ define "card.tmpl" }}

<div class="card">

  <div class="imgBox">
    <img src="image/term.svg" alt="Услуга" class="image-v">
  </div>

  <div class="contentBox">
    <h3>Прогноз температуры</h3>
    <h2 class="price">Точность ±50℃</h2>
    <a href="/more" class="buy">Заказать!</a>
  </div>

</div>

{{ end }}