{{ define "card.tmpl" }}

<div class="card">

  <div class="imgBox">
    <img src="image/{{ .Image }}" alt="Услуга" class="image-v">
  </div>

  <div class="contentBox">
    <h3>{{ .ForecastType }}</h3>
    <h3>(в {{ .Unit }})</h3>
    <h2 class="price">{{ .Details }} {{ .Unit }}</h2>
    <a href="/more/{{ .Id }}" class="buy">Заказать!</a>
  </div>

</div>

{{ end }}