{{ define "choose.tmpl" }}

<h2>Выбирайте прогноз!</h2>

<div class="card-container">

    {{ template "card.tmpl" .}}
    {{ template "card.tmpl" .}}
    {{ template "card.tmpl" .}}

</div>

{{ end }}