<link href="styles/style.css" rel="stylesheet">
<header>
	  <h1>Наш девиз: Не видно, да?!</h1>
</header>
<main class="content" role="main">
    {{ if .choose }}{{ template "choose.tmpl" .}}{{ end }}
    {{ if not .choose }}{{ template "more.info.tmpl" .}}{{ end }}
</main>

<footer class="fixed_footer">
    <div class="content">
        <p>Да кто этот копирайт?! Сколько у него девизий??? Сообщать сюда: 
        <img src="image/tg.svg" style="height: 40px; width: auto;">
        <img src="image/vk.svg" style="height: 40px; width: auto;">
        !!!</p>
    </div>
</footer>