<header>
	  <h1>Наш девиз: Не видно, да?!</h1>
</header>
<main class="content" role="main">
    {{ if .choose }}<link href="styles/style.css" rel="stylesheet">{{ template "choose.tmpl" .}}{{ end }}
    {{ if not .choose }}<link href="../styles/style.css" rel="stylesheet">{{ template "more.info.tmpl" .}}{{ end }}
</main>

<footer class="fixed_footer">
    <div class="content">
        <p>Да кто этот копирайт?! Сколько у него девизий???</p>
    </div>
</footer>