{{ define "more.info.tmpl" }}

<h2>Подробнее о прогнозе</h2>

<div class="card-container">

    <div class="card-container" style="background: rgb(236, 240, 241);">
    <div class="contentBox" style="width: 1335px;">
        <div class="imgBox">
            <img src="../image/{{ .id.Image }}" alt="Услуга" class="image-v">
        </div>
        <h2>{{ .id.Header }} (в {{ .id.Unit }})</h2>
        <h2>{{ .id.Details }} {{ .id.Unit }}</h2>
        <p>{{ .id.More }}</p>
        <a href="/?index="><h2>Вернуться</h2></a>
    </div>
    </div>

</div>



{{ end }}