{{ define "more.info.tmpl" }}

<h2>Это подробно!</h2>

<div class="card-container">

    <div class="imgBox">
        <img src="image/term.svg" alt="Услуга" class="image-v">
    </div>

    <div class="contentBox">
        <h3>Прогноз температуры</h3>
        <h2 class="price">Точность ±50℃</h2>
        <a href="/index" class="buy">Назад</a>
    </div>

</div>



{{ end }}